html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.tablediv{
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
  min-width: none;
  max-width: 390px;
  padding: 10px;
  width: 100%;
}
.buttonstyle{
  min-width: none;
  max-width: 175px;

}
.spacebettween{
  display: flex;
  justify-content: space-between;
}
table{
  min-width: none;
  max-width: 380px;
}
@media screen and (min-width: 600px) {
  
}